.create-new-workspace {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.create-workspace-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: #f4f9f9;
  padding: 3.6rem;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.create-workspace-form label {
  font-size: x-large;
  font-weight: 600;
}

.create-new-workspace input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-new-workspace input:focus {
  outline: none;
}

.create-new-workspace button {
  height: 40px;
  width: 50%;
  background-color: #61c7ef;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.step-highlight {
  color: #61c7ef;
  font-weight: bold;
}

.create-workspace-team-profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.create-workspace-team-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.create-workspace-team-image img {
  width: 6rem;
  height: 6rem;
  border-radius: 3px;
  object-fit: cover;
}

.create-workspace-team-image-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.entered-emails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.entered-emails svg {
  width: 1.4rem;
  height: 1.4rem;
  color: inherit;
  border-radius: 3px;
}
